services:
  php:
    build:
      context: ./docker/php
    container_name: symfony_php
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - mariadb

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  # postgres:
  #   image: postgres:16
  #   container_name: symfony_postgres
  #   environment:
  #     POSTGRES_DB: symfony
  #     POSTGRES_USER: symfony
  #     POSTGRES_PASSWORD: symfony
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"

  mariadb:
    image: mariadb:11
    container_name: symfony_mariadb
    environment:
      MARIADB_DATABASE: symfony
      MARIADB_USER: symfony
      MARIADB_PASSWORD: symfony
      MARIADB_ROOT_PASSWORD: root
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mariadb_data: